<div class="ajax-container">
  <div class="success-content">
    <h1>{{ heading_title }}</h1>
    {{ text_message }}
    <div class="buttons">
      <div class="float-right"><button class="btn btn-primary" onclick="window.location.href='{{ continue }}'"><span>{{ button_continue }}</span></button></div>
    </div>
  </div>
</div>